<%- include("../partials/header") %>

<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
									<% if(founduser.avatar){ %>
										<img src="<%= founduser.avatar %>" style="width: 150px; height: 150px"
											 class="img-thumbnail">
									<% }else{ %>
										<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSkw1WKC4E9OLSY7SOrahR3nTeGNaYbBblzNQ&usqp=CAU" style="width: 150px; height: 150px" class="img-thumbnail">
									<% } %>
                                    <div>
										<a href="/user/<%= founduser._id %>/edit" class="btn btn-primary">Edit</a>
                                        <a href="/forgot" class="btn btn-danger">Change Password</a>
									</div>
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">
										<%= founduser.username %>
									</h2>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab"
										   role="tab" aria-controls="basicInfo" aria-selected="true">
											Information
										</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1">
                                    <div class="tab-pane fade show active" role="tabpanel"
										 aria-labelledby="basicInfo-tab">           
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Full Name</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= founduser.firstname %> <%= founduser.lastname %>
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Birth Date</label>
                                            </div>
                                            <div class="col-md-8 col-6">
											<% if(founduser.birthday){ %>
                                                <%= founduser.birthday %> 
											<% } %>
                                            </div>
                                        </div>
                                        <hr />
                                        
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Email</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= founduser.email %> 
                                            </div>
                                        </div>
										<hr />
										
										<div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Description</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= founduser.description %> 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%- include("../partials/footer") %>