<%- include("../partials/header") %>

<div class="container mt-5">
	<h1>Edit "<em><%= foundcamp.name %></em>"</h1>

	<form action="/camp/<%= foundcamp._id %>?_method=PUT" method="POST">
		<input class="form-control form-group" type="text" name="campground[name]" value="<%= foundcamp.name %>">
		<input class="form-control form-group" type="number" name="campground[price]" value="<%= foundcamp.price %>"
			   min="0.01" step="0.01">
		<input class="form-control form-group" type="text" name="campground[img]" value="<%= foundcamp.img %>">
		<input class="form-control form-group" type="text" name="campground[description]" value="<%= foundcamp.description %>">
		<button class="form-control btn btn-primary">Submit!</button>
		<a href="/camp/<%= foundcamp._id %>">Go Back</a>
	</form>
</div>

<%- include("../partials/footer") %>