<%- include("../partials/header") %>

<div class="container">
	<header class="jumbotron">
		<h1>Welcome To YelpCamp!</h1>
		<p>view our hand-picked campgrounds all over the world</p>
		<a class="btn btn-primary" href="/camp/new">Add New Campground!</a>
		<div class="d-inline float-right">
			<form action="/camp" method="GET" class="input-group mb-3">
				<input type="text" name="search" placeholder="enter campground" class="form-control">
				<div class="input-group-append"><button class="btn btn-outline-success">Search</button></div>
			</form>
		</div>
	</header>
	
	<div class="row">
		<% if(camps.length == 0){ %>
			<div style="width:100%;"><h3 class="text-center">Nothing Match, Please Search Again.</h3></div>
		<% } %>
		<% camps.forEach(function(camp){ %>
			<div  class="col-lg-3 col-sm-6 mb-5">
				<div class="card text-center">
					<img src="<%= camp.img %>" class="card-img-top" style="height: 12vw;">
					<div class="card-body">
						<h4 class="card-text"><%= camp.name %></h4>
						<p>
							<i class="fas fa-star"></i>
							<% if (camp.rating > 1.5) { %><i class="fas fa-star"></i>
							<% }else{ %><i class="far fa-star"></i><% } %>
							<% if (camp.rating > 2.5) { %><i class="fas fa-star"></i>
							<% }else{ %><i class="far fa-star"></i><% } %>
							<% if (camp.rating > 3.5) { %><i class="fas fa-star"></i>
							<% }else{ %><i class="far fa-star"></i><% } %>
							<% if (camp.rating > 4.5) { %><i class="fas fa-star"></i>
							<% }else{ %><i class="far fa-star"></i><% } %>
							<em>(average: <%= camp.rating %>)</em>
						</p>
					</div>
					<a href="/camp/<%= camp._id %>" class="btn btn-primary">Show More!</a>
				</div>
			</div>
		<% }); %>
	</div>
</div>

<!-- 顯示頁數 -->
<nav aria-label="Page navigation">
    <% if (totalPages && totalPages > 0) { %>
		<ul class="pagination justify-content-center">
			<% if (current == 1) { %>
				<li class="page-item disabled"><a class="page-link">First</a></li>
			<% } else { %>
				<li><a class="page-link" href="/camp">First</a></li>
			<% } %>

			<% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>		<!-- 計算此頁面-4作為起始點顯示 -->
			<% if (i !== 1) { %>
				<li class="page-item disabled"><a class="page-link">...</a></li>
			<% } %>
			
			<% for (i; i <= (Number(current) + 4) && i <= totalPages; i++) { %>
				<% if (i == current) { %>
					<li class="active"><a class="page-link"><%= i %></a></li>			<!-- 如果在此頁面則不可點 -->
				<% } else { %>
					<li><a class="page-link" href="/camp?page=<%= i %>"><%= i %></a></li>
				<% } %>
				<% if (i == Number(current) + 4 && i < totalPages) { %>
					<li class="page-item disabled"><a class="page-link">...</a></li>		<!-- 若後續太多則... -->
				<% } %>
			<% } %>

			<% if (current == totalPages) { %>
				<li class="page-item disabled"><a class="page-link">Last</a></li>
			<% } else { %>
				<li><a class="page-link" href="/camp?page=<%= totalPages %>">Last</a></li>
			<% } %>
		</ul>
    <% } %>
</nav>

<%- include("../partials/footer") %>