<%- include("../partials/header") %>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">YelpCamp</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<div class="card">
				<img src="<%= foundcamp.img %>" style="height:30vw">
				<div class="card-body">
					<h4 class="float-right">$ <%= foundcamp.price %>/night</h4>
					<h4><a><%= foundcamp.name %></a></h4>
					
					<!-- 按鈕顯示 -->
					<div style="padding-bottom: 10px;">
						<form action="/camp/<%= foundcamp._id %>/like" method="POST" class="d-inline">
							<div class="btn-group">
								<% if (currentuser && foundcamp.likes.some(function (like) {
									return like.equals(currentuser._id)
								})) { %>
									<button class="btn btn-sm btn-primary">
										<i class="fas fa-thumbs-up"></i> Liked (<%= foundcamp.likes.length %>)
									</button>
								<% } else { %>
									<button class="btn btn-sm btn-secondary">
										<i class="fas fa-thumbs-up"></i> Like (<%= foundcamp.likes.length %>)
									</button>
								<% } %>
								<button type="button" class="btn btn-sm btn-light" data-toggle="modal"
										data-target="#campgroundLikes">See more details
								</button>
							</div>
						</form>
						<button type="button" class="btn btn-sm btn-success d-inline float-right" data-toggle="modal"
								data-target="#campgroundLikes">
							<span>Total likes: <i class="fas fa-thumbs-up"></i> <%= foundcamp.likes.length %></span>
						</button>
					</div>
					
					<p><%= foundcamp.description %></p>
					<h5>
						<em>Submitted By <%= foundcamp.author.username %>, <%= moment(foundcamp.createdAt).fromNow() %></em>
					</h5>
					<%if(currentuser && foundcamp.author.id.equals(currentuser._id) || currentuser && currentuser.isManager){%>
						<a href="/camp/<%= foundcamp._id %>/edit" class="btn btn-warning">Edit</a>
						<form class="d-inline" action="/camp/<%= foundcamp._id %>?_method=DELETE" method="POST">
							<button class="btn btn-danger">Delete</button>
						</form>
					<% } %>
				</div>
			</div>
			
			<div class="card comment_form mt-5" style="margin-bottom:5%;">
				<div class="card-header">
					<a class="btn btn-success float-right" role="button" data-toggle="collapse" href="#collapseComment" 
					   aria-expanded="false" aria-controls="collapseComment">
						Add new comment
					</a>
				</div>
				<div class="card-body">
					<div class="row">
						<div class="col-md-12">
							<h3 class="text-center" style="color: green;"><em>Comments</em></h3>
						</div>
					</div>	
					
					<!--評論增加欄位區-->
					<div class="collapse m-2" id="collapseComment">
						<div class="card p-2 comment_form" style="border-left: 5px solid #00C851;">
							<% if(!currentuser){ %>
								<h5>You need to login before you can comment. <a href="/login">Click here</a></h5>
							<% } %>
							<% if(currentuser){ %>
								<h4>Write your comment</h4>
								<form id="add-comment-form" action="/camp/<%= foundcamp._id %>/comment" method="POST">
									<div class="form-group">
										<input class="form-control" type="text"
											   disabled value="<%= currentuser.username %>">
									</div>
									<div class="form-group">
										<textarea class="form-control" name="text"
												placeholder="Write your comment..." form="add-comment-form"
												rows="5" cols="70"></textarea>
									</div>
									<div class="form-group">
										<button class="btn btn-success btn-sm">Comment</button>
									</div>
								</form>
							<% } %>
						</div>
					</div>
					
					<% foundcamp.comments.forEach(function(comment){ %>
						<div class="row">
							<div class="col-md-12">
								<hr/>
								<i class="fas fa-user"></i> <b><%= comment.author.username %></b>
								<span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
								<p><%= comment.text %></p>
								<% if(currentuser && comment.author.id.equals(currentuser._id) ||
									  currentuser && currentuser.isManager){ %>
									<div class="float-right">
										<a href="/camp/<%= foundcamp._id %>/comment/<%= comment._id %>/edit" 
										   class="btn btn-sm btn-warning">Edit</a>
										<form class="d-inline" 
											  action="/camp/<%= foundcamp._id %>/comment/<%= comment._id %>?_method=DELETE"
											  method="POST">
											<button class="btn btn-sm btn-danger">Delete</button>
										</form>
									</div>
								<% } %>
							</div>	
						</div>
					<% }) %>
				</div>
			</div>
		</div>
	</div>
</div>


<!-- 點喜歡的人的詳細名單 -->
<div id="campgroundLikes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
	 aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Campground likes: <%= foundcamp.likes.length %></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<table class="table table-striped">
					<thead>
						<tr><th>Liked by:</th></tr>
					</thead>
					<tbody>
					<% foundcamp.likes.forEach(function(like) { %>
						<tr><td>
							<i class="fas fa-user"></i> <%= like.username %>
						</td></tr>
					<% }); %>
					<% if (foundcamp.likes.length === 0) { %>
						<tr><td>
							<em>No likes yet.</em>
						</td></tr>
					<% } %>
					</tbody>
				</table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<%- include("../partials/footer") %>